body {
    font-family: 'Kantumruy Pro', sans-serif;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin: 150px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width p {
    background-image: linear-gradient(rgba(0, 0, 0, 0.829), rgb(247, 136, 62));
    padding: 8px 20px;
    color: floralwhite;
    text-align: justify;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(darkblue, cyan);
    color: aqua;
    border-radius: 15px;
    padding: 5px 18px;
    font-weight: 200;
}

.experience-itm {
    box-shadow: 15px 15px 50px gray;
    width: 35%;
    margin-left: 20%;
    margin-right: 3%;
    padding-left: 3%;
    border-radius: 15px;

}

.expert {
    background-image: url(picture-r/Frame\ 58.jpg);
    background-position: left;
    margin: 0%;
    border-left: 20px solid aqua;
    border-left: 20px solid purple;
}

footer {

    text-align: center;
    color: rgb(135, 241, 206);
    background-image: linear-gradient(rgb(66, 4, 95), purple);
    border-radius: 10px;
    width: 100%;
}